{% extends 'layouts/main.html' %}
{% block title %}{{ artist_details.name }} | Artist{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-6">
		<h1 class="monospace">
			{{ artist_details.name }}
		</h1>
		<p class="subtitle">
			ID: {{ artist_details.id }}
		</p>
		<div class="genres">
			{% set genres = artist_details.genres %}
			{% set genre_list = genres.split(',') %}
			{% for genre in genre_list %}
			{% if '{' in genre  %}
				{% set genre = genre[+1:] %}
			{% elif '}' in genre %}
				{% set genre = genre[:-1] %}
			{% endif %}
			<span class="genre">{{ genre }}</span>
			{% endfor %}
		</div>
		<p>
			<i class="fas fa-globe-americas"></i> {{ artist_details.city }}, {{ artist_details.state }}
		</p>
		<p>
			<i class="fas fa-phone-alt"></i> {% if artist_details.phone %}{{ artist_details.phone }}{% else %}No Phone{% endif %}
        </p>
        <p>
			<i class="fas fa-link"></i> {% if artist_details.website_link %}<a href="{{ artist_details.website_link }}" target="_blank">{{ artist_details.website_link }}</a>{% else %}No Website{% endif %}
		</p>
		<p>
			<i class="fab fa-facebook-f"></i> {% if artist_details.facebook_link %}<a href="{{ artist_details.facebook_link }}" target="_blank">{{ artist_details.facebook_link }}</a>{% else %}No Facebook Link{% endif %}
        </p>
		{% if artist_details.seeking_venue %}
		<div class="seeking">
			<p class="lead">Currently seeking performance venues</p>
			<div class="description">
				<i class="fas fa-quote-left"></i> {{ artist_details.seeking_description }} <i class="fas fa-quote-right"></i>
			</div>
		</div>
		{% else %}	
		<p class="not-seeking">
			<i class="fas fa-moon"></i> Not currently seeking performance venues
		</p>
		{% endif %}
	</div>
	<div class="col-sm-6">
		<img src="{{ artist_details.image_link }}" alt="Artist Image" />
	</div>
</div>
<section>
	<h2 class="monospace">{{ upcoming_shows_count }} Upcoming {% if upcoming_shows_count == 1 %}Show{% else %}Shows{% endif %}</h2>
	<div class="row">
		{% for venue, artist, show in show_details %}
		{% if show in upcoming_shows %}
		<div class="col-sm-4">
			<div class="tile tile-show">
				<img src="{{ venue.image_link }}" alt="Show Venue Image" />
				<h5><a href="/venues/{{ venue.id }}">{{ venue.name }}</a></h5>
				<h6>{{ show.show_time|datetime('full') }}</h6>
			</div>
		</div>
		{% endif %}
		{% endfor %}
	</div>
</section>
<section>
	<h2 class="monospace">{{ past_shows_count }} Past {% if past_shows_count == 1 %}Show{% else %}Shows{% endif %}</h2>
	<div class="row">
		{% for venue, artist, show in show_details %}
		{% if show in past_shows %}
		<div class="col-sm-4">
			<div class="tile tile-show">
				<img src="{{ venue.image_link }}" alt="Show Venue Image" />
				<h5><a href="/venues/{{ venue.id }}">{{ venue.name }}</a></h5>
				<h6>{{ show.show_time|datetime('full') }}</h6>
			</div>
		</div>
		{% endif %}
		{% endfor %}
	</div>
</section>

<a href="/artists/{{ artist_details.id }}/edit"><button class="btn btn-primary btn-lg">Edit</button></a>

{% endblock %}

