{% extends 'layouts/main.html' %}
{% block title %}Venue Search{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-6">
		<h1 class="monospace">
			{{ venue.name }}
		</h1>
		<p class="subtitle">
			ID: {{ venue.id }}
		</p>
		<div class="genres">
			{% set genres = venue.genres %}
			{% set genre_list = genres.split(',') %}
			{% for genre in genre_list %}
			{% if '{' in genre  %}
				{% set genre = genre[+1:] %}
			{% elif '}' in genre %}
				{% set genre = genre[:-1] %}
			{% endif %}
			<span class="genre">{{ genre }}</span>
			{% endfor %}
		</div>
		<p>
			<i class="fas fa-globe-americas"></i> {{ venue.city }}, {{ venue.state }}
		</p>
		<p>
			<i class="fas fa-map-marker"></i> {% if venue.address %}{{ venue.address }}{% else %}No Address{% endif %}
		</p>
		<p>
			<i class="fas fa-phone-alt"></i> {% if venue.phone %}{{ venue.phone }}{% else %}No Phone{% endif %}
		</p>
		<p>
			<i class="fas fa-link"></i> {% if venue.website_link %}<a href="{{ venue.website_link }}" target="_blank">{{ venue.website_link }}</a>{% else %}No Website{% endif %}
		</p>
		<p>
			<i class="fab fa-facebook-f"></i> {% if venue.facebook_link %}<a href="{{ venue.facebook_link }}" target="_blank">{{ venue.facebook_link }}</a>{% else %}No Facebook Link{% endif %}
		</p>
		{% if venue.seeking_talent %}
		<div class="seeking">
			<p class="lead">Currently seeking talent</p>
			<div class="description">
				<i class="fas fa-quote-left"></i> {{ venue.seeking_description }} <i class="fas fa-quote-right"></i>
			</div>
		</div>
		{% else %}	
		<p class="not-seeking">
			<i class="fas fa-moon"></i> Not currently seeking talent
		</p>
		{% endif %}
	</div>
	<div class="col-sm-6">
		<img src="{{ venue.image_link }}" alt="Venue Image" />
	</div>
</div>
<section>
	<h2 class="monospace">{{ upcoming_shows_count }} Upcoming {% if upcoming_shows_count == 1 %}Show{% else %}Shows{% endif %}</h2>
	<div class="row">
		{% for show in upcoming_shows %}
		<div class="col-sm-4">
			<div class="tile tile-show">
				{% for artist in artists %}
				{% if show.artist_id == artist.id %}
				<img src="{{ artist.image_link }}" alt="Show Artist Image" />
				<h5><a href="/artists/{{ show.artist_id }}">{{ artist.name }}</a></h5>
				<h6>{{ show.show_time|datetime('full') }}</h6>
				{% endif %}
				{% endfor %}
			</div>
		</div>
		{% endfor %}
	</div>
</section>
<section>
	<h2 class="monospace">{{ past_shows_count }} Past {% if past_shows_count == 1 %}Show{% else %}Shows{% endif %}</h2>
	<div class="row">
		{% for show in past_shows %}
		<div class="col-sm-4">
			<div class="tile tile-show">
				{% for artist in artists %}
				{% if show.artist_id == artist.id %}
				<img src="{{ artist.image_link }}" alt="Show Artist Image" />
				<h5><a href="/artists/{{ show.artist_id }}">{{ artist.name }}</a></h5>
				<h6>{{ show.show_time|datetime('full') }}</h6>
				{% endif %}
				{% endfor %}
			</div>
		</div>
		{% endfor %}
	</div>
</section>

<a href="/venues/{{ venue.id }}/edit"><button class="btn btn-primary btn-lg">Edit</button></a>
<button class="btn btn-primary btn-lg" data-id="{{ venue.id }}" id="delete-venue">Delete</button>

<script>
	const deleteVenue = document.getElementById('delete-venue');
	deleteVenue.onclick = function(c){
		console.log('click', c);
		const venueId = c.target.dataset.id;
		fetch('/venues/' + venueId, {
			method: 'DELETE',
		})
	}
</script>

{% endblock %}

